.general-container {
  display: flex;
  flex-direction: column;
  height: 550px;
  background-image: linear-gradient(
      to bottom,
      rgba(173, 216, 230, 0.1),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://media.istockphoto.com/id/1470367288/photo/supermarket-shopping-concept.jpg?s=1024x1024&w=is&k=20&c=9qSpyNs0HHw0UZlvdufQX56OoAmI29K14XnwC_YTOHw=");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
  background-position: center;
}
#shrink {
  background-size: 100% auto;
  /* background-color: rgba(0, 0, 0, 0.9); */
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(170, 173, 173);
  transition: background-color 0.6s ease-in-out;
  color: black;
  transition: color 0.6s ease-in-out;
  /* margin-bottom: 14px; */
  padding: 0px 20px;
  height: 60px;

  position: fixed;
  top: 0;
  z-index: 5;
}
.second {
  /* background-color:red; */
  flex: 1;
  height: 0px;
  position: sticky;
  top: -60px;
  position: relative;
}
.welcome-message {
  color: rgb(49, 19, 224);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 8px 10px;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.06);
}
.logo {
  width: 70px;
  font-size: 28px;
  font-weight: 500;
  color: black;
  transition: color 0.6s ease-in-out;
}
.head-lists {
  margin-right: 60px;
  /* background-color: red; */
}
.head-lists li {
  display: inline-block;
  margin-left: 25px;
  font-size: 17px;
  font-weight: 500;
}
.activate-dark {
  background-color: #001f3f;
  color: white;
}
.logo-dark {
  color: white;
}
